.main{
    width: 100%;
}
.m_content{
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: #bce8f1;
}

@media screen and (max-width: 992px){
    .m_content {
        width: 100%;
    }
}

@media screen and (min-width: 992px){
    .m_content{
        width: 80%;
    }
}