.home{
    width: 100%;
    position: relative;
}
.home_title{
    margin-top: 0;
    margin-bottom: 1em;
    font-size: 2.5em;
    color: #337ab7;
    font-weight: bold;
    text-align: center;
}
.home_add{
    margin-top: 1em;
    font-size: 1.5em;
    width: 100%;
}
.home_content{
    margin-bottom: 0;
    padding-left: 0;
}
.home_list{
    margin-bottom: 2em;
    list-style: none;
}