.directory{
    width:100%;
    position: relative;
}
.directory_title{
    margin-top: 0;
    margin-bottom: 1em;
    font-size: 2.5em;
    color: #337ab7;
    font-weight: bold;
    text-align: center;
}
.directory_back{
    position: absolute;
    top: 0em;
    right: 2em;
    font-size: 1.25em;
}
.directory_list{
    margin-bottom: 0;
    padding-left: 0;
    width: 100%;
}

.directory_finish{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    font-size: 1.5em;
}